@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 217 100% 83%;
    --on-primary: 212 100% 20%;
    --secondary: 105 100% 94%;
    --on-secondary: 128 100% 11%;
    --on-surface: 7 5% 89%;
    --outline: 222 9% 59%;
    --outline-variant: 221 12% 29%;
  }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}

.cursor-blink {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}

.scale-98-active:active {
    transform: scale(0.98);
}

.cursor-terminal:hover {
    cursor: crosshair;
}

@layer base {
  * {
    @apply border-outline-variant/20;
  }
  body {
    @apply bg-background text-on-surface font-body selection:bg-primary/30 selection:text-primary;
  }
}
